
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h1 class=" font-monospace"><strong>GRAN REFACCIONARIA DE BICICLETAS "DON GILBERTO"</strong></h1>

<img class="img-fluid" src="https://www.rm-m.com.mx/bici/images/headers/bici.jpg"/>

<hr>
<br>
<div class="d-flex justify-content-between ">
    <img class="w-50" src="https://i.pinimg.com/originals/f5/af/6d/f5af6d4f20d5b448523b87161464ba35.gif">
    <div class="containert">

    <h1 class="">
    <strong>
        "Todos los tipos de bicicletas disponibles bajo un mismo techo"
    </strong>
    </h1>
    </div>
</div>
<hr>
<br>
<div class="d-flex justify-content-between ">
    <div class="containert">
    <h1><strong>No busque más! Tenemos la solución para su bicicleta </strong></h1>
    </div>
    <img class="imgr" src="https://previews.123rf.com/images/donatas1205/donatas12051204/donatas1205120400050/13013024-bike-reparaci%C3%B3n-piezas-de-repuesto-y-herramientas-.jpg">
</div>
<style>
    .containert {
        width:45%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    h1 {
        text-align: justify;
    }
    .imgr {
        width:40%;
    }
</style>